header,
button {
  background-color: #562a80;
  color: white;
}

img {
  width: 100%;
}

textarea {
  height: 150px;
}

button {
  width: 50px;
  border-radius: 3px;
  border: none;
  height: 25px;
}

a,
button:hover {
  cursor: pointer;
}

label {
  font-weight: bold;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

h3 {
  font-weight: 100;
}

a {
  color: white;
  text-decoration: none;
}

.user-input {
  width: 100%;
  border: 1px solid #cfcfcf;
}

.input-type-text {
  padding: 0.5rem;
}

.user-input:focus {
  outline: none;
  border-color: #562a80;
}

.new-button {
  width: 50px;
  height: 30px;
  background-color: #562a80;
  color: white;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hidden {
  display: hidden;
}

.view {
  display: block;
}
